/* projects style sheet (version 2) */

body { background-color:#B0C4DE; }

div.c2 { margin-left: 2em }
div.c1 { text-align: center }
h1.main { color: #FFFF00; text-align: center }
h2.c1 { color: green }
h3.c1 { color: yellow }
#img.format{ width: 25%; }
p.c1 { border: 0px solid ; width: 90% ; color: #000000 }
p { text-indent: 2.0em }

// End of File
